<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).PROPERTY_PROJECT_NAME}}"></title>
</head>
<body>
  <div th:fragment="myteams" sec:authorize="hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_TEAMS_READ) and hasAuthority(T(pt.com.scrumify.helpers.ConstantsHelper).ROLE_TEAMS_WIDGET)" th:if="${not #lists.isEmpty(userteams)}">
    <h3 class="ui header" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}" th:text="#{${T(pt.com.scrumify.helpers.ConstantsHelper).MESSAGE_COMMON_TEAMS}}"></h3>
    <div class="ui divider"></div>
    <div class="ui card full-width" th:each="team : ${userteams}">
      <div class="content">
        <div class="meta">
          <h4 class="ui header" data-inverted="" th:classappend="${T(pt.com.scrumify.helpers.ConstantsHelper).DEFAULT_ENVIRONMENT_COLOR}" th:data-tooltip="${team.name}">
            <a th:href="@{${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_TEAMS} + '/' + ${team.id} + ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_UPDATE}}" th:text="${#strings.length(team.name) > 32 ? #strings.substring(team.name, 0, 32) + ' ...' : team.name}"></a>
          </h4>
        </div>
      </div>
      <div class="extra content">
        <a th:href="@{${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_TEAMS} + '/' + ${team.id} + ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_UPDATE} + ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_INFO}}">
          <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_RESOURCES}"></i>
          <span class="content" th:text="${#lists.size(team.members)}"></span>
        </a>
        &ensp;
        <a th:href="@{${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_TEAMS} + '/' + ${team.id} + ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_UPDATE} + ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_CONTRACTS}}">
          <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_CONTRACTS}"></i>
          <span class="content" th:text="${#lists.size(team.contracts)}"></span>
        </a>
        &ensp;
        <a th:href="@{${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_TEAMS} + '/' + ${team.id} + ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_UPDATE} + ${T(pt.com.scrumify.helpers.ConstantsHelper).MAPPING_WORKITEMS}}">
          <i th:class="${T(pt.com.scrumify.helpers.ConstantsHelper).ICON_WORKITEMS}"></i>
          <span class="content" th:text="${#lists.size(team.workItems)}"></span>
        </a>
      </div>
    </div>
  </div>
</body>
</html>